@use "sass:color";
@use "../utilitaires/variables";


.patte {
    width: 35px;

    &--1 {

        // fill: green;
        #patte1orteil1 {
            fill: variables.$bleuPale;
            stroke: variables.$bleuMinuit;
            stroke-width: 2px;
        }
    }

    &--2 {

        #patte2orteil1,
        #patte2orteil2 {
            fill: variables.$bleuPale;
            stroke: variables.$bleuMinuit;
            stroke-width: 2px;
        }

    }

    &--3 {

        #patte3orteil1,
        #patte3orteil2,
        #patte3orteil3 {
            fill: variables.$bleuPale;
            stroke: variables.$bleuMinuit;
            stroke-width: 2px;
        }
    }

    &--4 {

        #patte4orteil1,
        #patte4orteil2,
        #patte4orteil3,
        #patte4orteil4 {
            fill: variables.$bleuPale;
            stroke: variables.$bleuMinuit;
            stroke-width: 2px;
        }
    }

    &--disabled {
        fill: variables.$bleuMinuit;

        #patte2orteil1,
        #patte2orteil2,
        #patte2orteil3,
        #patte2orteil4,
        #patte3orteil1,
        #patte3orteil2,
        #patte3orteil3,
        #patte3orteil4,
        #patte4orteil1,
        #patte4orteil2,
        #patte4orteil3,
        #patte4orteil4 {
            fill: variables.$bleuMinuit;
        }
    }
}

.patteMerci{
    fill: variables.$rougeErreur;
    width: 12%;
    margin-top: 10px;
    margin-left: 65%;
}

