@use "sass:color";
@use "../utilitaires/variables";

main {
    margin: 5% 5%;

    @media(min-width: variables.$desktop) {
        margin: 0 20%;
    }
}

.champ-colonne {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.moyenChamp {
    width: 50%;
}

.petitChamp {
    width: 25%;
}

.champErreur {
    background: #FDE2E4;
    border: solid variables.$rougeErreur 3px;
}

input {
    border: 2px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9;
    filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.15));
}

label+input {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
}

// Span qui montre un exemple sous le input
.exemple {
    display: flex;
    flex-direction: column;
}

// Les inputs de type text et number
input[type="text"] input[type="number"] {
    width: 100%;
}

// Les inputs de type radio sont opacité 0.
input[type="radio"] {
    opacity: 0%;
}

// Liste des montant de dons.

.listeDon {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

    >li:last-child{
        margin-top: 5%;
    }

    // Grandeur de champs
    &__item {
        &--moyenChamp {
            width: 100%;
        }
    }

    // Format table
    @media(min-width:variables.$desktop) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        >li {
            flex: 1 1 45%;
        }

        >li:last-child {
            flex-basis: 100%;
            width: 100%;
            margin-bottom: 0;
        }
        &__item{
            &--moyenChamp{
                width: 100%;
            }
        }
    }
}

// Les inputs de type radio ainsi que leurs label
input[type="radio"]+label {
    padding: 10px;
    border-radius: 10px;
    outline: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

// Les inputs de type radio qui sont cocher ainsi que leurs label
input[type="radio"]:checked+label {
    background-color: variables.$bleuMoyen;
    color: white;
}


body {
    max-width: 100%;
}

header {
    background-color: variables.$bleuPaleTransparent;
}

.logo {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding-top: 20px;

    @media(min-width: variables.$desktop) {
        width: 10%;
    }
}


nav>ol>li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cacher {
    display: none;
}

.etapes__item {
    text-decoration: none;
}

.imgMerci {
    display: block;
    width: 20%;
    margin: 40px auto;

    @media(min-width: variables.$desktop) {
        width: 90%;
        margin: 40px auto;
    }
}

footer {
    background-color: variables.$bleuPaleTransparent;
}

.creditFooter {
    text-align: center;
    padding: 25px;
    margin: 0;
}