@use "sass:color";
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/

// @font-face {
//   font-family: Futura, sans-serif;
//   src: 	url('../fonts/Futura.ttc') format('truetype');
// }

$fontePrimaire : transat-text, sans-serif;
$fonteSecondaire : costa, sans-serif;

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleuMoyen: #2A6F97;
$bleuPale: #68a8e8;
$bleuMinuit: #1B263B;
$rougeErreur: #C60000;


$bleuMoyenTransparent : color.adjust($bleuMoyen, $alpha: -0.50);
$bleuPaleTransparent : color.adjust($bleuPale, $alpha: -0.50);

/* Autres couleurs */
$hyperlien: $bleuMinuit;

/** Points de rupture **/
$desktop : 601px;